
<launch>
	<remap from="/sfu/camera/image" to="/camera/image_raw"/>
	<machine name="local_alt" address="localhost" default="true" />
	
	<node name="RatSLAMLocalViewCells" pkg="ratslam_ros" type="ratslam_lv" args="$(find ratslam_ros)/config/config_sfu-left.txt _image_transport:=compressed" cwd="node" required="true" />
	<node name="RatSLAMPoseCells" pkg="ratslam_ros" type="ratslam_pc" args="$(find ratslam_ros)/config/config_sfu-left.txt _image_transport:=compressed" cwd="node" required="true" />
	<node name="RatSLAMExperienceMap" pkg="ratslam_ros" type="ratslam_em" args="$(find ratslam_ros)/config/config_sfu-left.txt _image_transport:=compressed" cwd="node" required="true" />
	<node name="RatSLAMVisualOdometry" pkg="ratslam_ros" type="ratslam_vo" args="$(find ratslam_ros)/config/config_sfu-left.txt _image_transport:=compressed" cwd="node" required="true" />

	<node pkg="rqt_plot" type="rqt_plot" name="plot_vt_em" args="/sfu/LocalView/Template/current_id,/sfu/PoseCell/TopologicalAction/dest_id" />

</launch>
